body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1;
}

table tr:not(.table-secondary):hover {
    cursor: pointer;
}

.btn-svg {
    display: flex;
    align-items: center;
    justify-content: center;
}